<!DOCTYPE html>
<html>

<head>
    <title>Categories</title>
</head>

<body>
    <h1>Car Categories</h1>

    <ul>
        <% if (categories.length===0) { %>
            <li>No categories found</li>
            <% } %>

                <% categories.forEach(category=> { %>
                    <li>
                        <strong>
                            <%= category.name %>
                        </strong>
                        <p>
                            <%= category.description %>
                        </p>

                        <form action="/categories/delete/<%= category.id %>" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    </li>
                    <% }) %>
    </ul>

</body>

</html>